html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  margin: 0;
}

/*Globales*/
img {
  max-width: 100%;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

/*Header*/
.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navegacion a{
  color: rgb(63, 63, 62);
  text-decoration: none;
  font-size: 2rem;
  margin-right: 2rem;
  
}

.navegacion a:last-of-type {
  margin: 0;
}

.contenido-header {
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  min-height: 60rem;
}

.contenido-header h1{
  text-align: center;
  color: #ffffff;
  padding-top: 20rem;
  margin-top: 0;
}

.contenido-header p {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
}

.marea {
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    margin-top: -400px;
}

/*Hobbies*/

.hobbie {
  display: flex;
  justify-content: space-between;
}

.imagen {
  flex-basis:  calc(50% - 5rem);
  display: flex;

}

.hobbies {
  max-width: 600px;
}

.contenido-hobbie span {
  background-color: #000;
  color: #ffffff;
  padding: 1rem 2.2rem;

  border-radius: 50%;
  margin-right: 2rem;
}

/*Galeria*/
.gallery {
  margin-top: 5rem
}
.gallery h3 {
  text-align: center;
  margin: 10rem;
  
}
.contenido-gallery {
  display: flex;
  justify-content: space-between;
}

.card {
  flex-basis: calc(33.3% - 2rem);
}

.card h4, p{
  margin: 0;
}

/*footer*/

.site-footer {
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
}

.fondo-footer {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.contenido-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.espacio {
  flex-basis: calc(25% - 2rem);
}

.datos {
  flex-basis: 40%;
  margin-right: 10rem;
}

.redes-sociales i{
  font-size: 4rem;
  margin-right: 1rem;
  cursor: pointer;
}